*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;

}
body{

}
.login{
    width: 400px;
    height: 600px;
    background: rgb(104, 154, 200);
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    color: white;
}
.login h5{
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;

}

.control{
    width: 100%;
    border: 1px solid beige;
    margin-bottom: 15px;
    padding: 11px 15px;

}

.boton{
    width: 100%;
    height: 20px;
    background-color: white;
    border: none;
    color: black;
    margin-bottom: 15px;
    
}
.login p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
}

.login a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.login a{
    text-decoration: underline;
}
h1{
    text-align: center;
    font-size: 40px;
    
    color: #944545;
    font-weight: 100;
    font-family: Edwardian Script ITC;
}

h2{
    text-align: start;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

